.book-item {
    display: flex;

    margin-bottom: 15px;
    .avatar {
        margin-right: 15px;
        width: 71px;
        img {
            display: block;
            width: 71px;
        }
    }

    .detail {
        h3 {
            margin-top: 0;
        }

        p {
            margin-top: 5px;
            line-height: 1.5;
            opacity: 0.6;
            &.des {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        .info {
            font-size: 12px;
            span {
                position: relative;

                &:not(:last-child):after {
                    display: inline-block;
                    content: '|';
                    padding: 0 5px;
                    opacity: 0.2;
                }
            }
        }
    }
}
