.icon {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;

    &.icon-cat {
        background-image: url("../svg/icon-cat.svg");
        -webkit-background-size: 24px;
        background-size: 24px;
    }

    &.icon-serial {
        background-image: url("../svg/icon-serial.svg");
        -webkit-background-size: 24px;
        background-size: 24px;
    }

    &.icon-free {
        background-image: url("../svg/icon-free.svg");
        -webkit-background-size: 24px;
        background-size: 24px;
    }

    &.icon-sort {
        background-image: url("../svg/icon-sort.svg");
        -webkit-background-size: 24px;
        background-size: 24px;
    }

    &.icon-complete {
        background-image: url("../svg/icon-complete.svg");
        -webkit-background-size: 24px;
        background-size: 24px;
    }
}
