@import "common.scss";

::-webkit-input-placeholder {
    text-align: center;
}

.index {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: px2rem(200) px2rem(60) 0 px2rem(60);
}

h1 {
    font-size:px2rem(72);
    margin-bottom:px2rem(100);
}

.input-group {
    position: relative;
    padding: px2rem(60) 0;
    width: 100%;
    input {
        display: block;
        width: 100%;
        text-align: center;
        height:px2rem(78);
        padding:px2rem(15);
        font-size:px2rem(30);
        border: none;
        border-radius: px2rem(10);
    }
    button {
        display: block;
        position: absolute;
        width:px2rem(120);
        height:px2rem(78);
        font-size:px2rem(32);
        top:px2rem(60);
        right:0;
        z-index: 99;
        border: none;
        background-color: #1bba9a;
        border-radius: 0 px2rem(10) px2rem(10) 0;
        color: #fff;
    }
}

.history {
    width:100%;
    h2 {
        position: relative;
        text-align: center;
        &:after {
            display: block;
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background-color: #e2e2e2;
            top: 50%;
            left: 0;
            margin-top: -1px;
            z-index:1;
        }
        em{
            position: relative;
            font-style: normal;
            padding:px2rem(0) px2rem(30);
            background-color: #42454e;
            z-index:2;
        }
    }
}