.header {
  padding: 0 15px;
  line-height: 48px;
  color: #fff;
  background-color: #20a0ff;
  span {
    padding: 2px 5px;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  .search {
    text-align: right;
  }
}
