
.cat .cat-items {
    padding: 15px 0;
}

.cat .title {
    line-height: 2;
    border-bottom: 1px solid #f5f5f5;
}

.cat .title h2 {
    display: inline-block;
    border-bottom: 1px solid #f87562;
}

.cat .cat-item {
    display: flex;
    padding: 15px 15px 15px 0;
    flex-wrap: wrap;
}

.cat .cat-item .cat-item-content {
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    width: 19.5%;
    padding: 15px 0;
    background-color: #f5f5f5;
    color: #f87562;
    text-align: center;
    transition: all .167s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.cat .cat-item .cat-item-content:hover {
    background-color: #f87562;
    color: #ffffff;
    transition: all .167s cubic-bezier(0.4, 0.0, 0.2, 1);
}